@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


body {
  background-image: url(../images/Background.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.main-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container1 div{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-container img{
  padding: 10px;
  width: 35%;
  border-radius: 10%;
}

h1 {
  font-family: 'Berkshire Swash', cursive;
  font-size: 90px;
  display: flex;
  justify-content: center;
  background: #CF4B72;
  background: linear-gradient(to right, #CF4B72 39%, #6E0B0A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  display: flex;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  font-size: 40px;
}

.main-container p {
  display: flex;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
}

main img {
  display: block;
  margin: 0 auto;
  width: 50%;
  border-radius: 10%;
}

.container1 img {
  display: block;
  margin: 0 auto;
  width: 35%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10%;
}

p.small {
  font-size: 10px;
}

footer {
  text-align: center;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
